@font-face {
  font-family: 'AvenirLTStd-book';
  src: url('./fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'AvenirLTStd-medium';
  src: url('./fonts/AvenirLTStd-Medium.otf');
}

@font-face {
  font-family: 'AvenirLTStd-roman';
  src: url('./fonts/AvenirLTStd-Roman.otf'); 
}

@font-face {
  font-family: 'AvenirLTStd-black';
  src: url('./fonts/AvenirLTStd-Black.otf'); 
}

@font-face {
  font-family: 'AvenirLTStd-light';
  src: url('./fonts/AvenirLTStd-Light.otf');
}

@import url("./stylesheets/main_page.css");
@import url("./stylesheets/builder.css");
@import url("./stylesheets/left_sidebar.css");
@import url("./stylesheets/resume.css");
@import url("./stylesheets/right_sidebar.css");
@import url("./stylesheets/reset.css");
@import url("./stylesheets/resume_row_1.css");
@import url("./stylesheets/recent_searches.css");
@import url("./stylesheets/recruiting_toolkit.css");
@import url("./stylesheets/current_pos.css");
@import url("./stylesheets/nav.css");
@import url("./stylesheets/experience.css");
@import url("./stylesheets/linkedin_reviews.css");
@import url("./stylesheets/resume_name.css");
@import url("./stylesheets/clearence_levels.css");
@import url("./stylesheets/image_placeholders.css")