.current-position-div {
  display: inline-block;
  width: 30%;
  margin-left: 10px;
}

.current-position-header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.current-position-list {
  margin-left: 10px;
}

.current-title {
  font-size: 10px;
}

.current-company {
  font-size: 10px;
}

.current-company-time {
  font-size: 10px;
}

.current-position-description {
  font-size: 10px;
  width: 160px;
}

.current-image {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
}