.current-position-div {
  display: inline-block;
  width: 33%;
}

.current-position-title {
  font-weight: 900;
  font-size: 12px;
}

.current-position-header {
  
}

.current-position-list {

}

.current-title {

}

.current-company {

}

.current-company-time {

}