.federal-agency-icon {
  width: 45px;
  height: 45px;
}

.federal-agency-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
  margin: 5px;
  overflow: hidden;
}

.agencies-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}