.federal-agency-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid black;
  margin: 10px;
}

.agencies-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}