.hobbies-and-interests {
  margin-bottom: 10px;
}

.hobbies-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 210px;
}

.hobbies-image {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.hobbies-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
  margin: 5px;
  overflow: hidden;
}