.left-sidebar {
  display: flex;
  min-width: 250px;
  max-width: 260px;
  flex-direction: column;
  align-items: center;
  height: auto;
  left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 0px 5px grey;
  background-color: rgb(233, 253, 255);
  z-index: 3;
}

.sidebar-header {
  position: relative;
  border-bottom: 1px solid grey;
  margin: 10px;
  text-align: center;
  font-size: 18px;
}

.edit-section {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  margin: 10px;
  max-height: auto;
  transition: max-height 0.4s;
}

.hidden-section {
  overflow: hidden;
  max-height: 0px;
}

.education-input, .left-sidebar > input{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 200px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray; 
  box-shadow: 1px 0px 1px grey;
}

.education-input::placeholder , .left-sidebar > input::placeholder, 
textarea::placeholder {
  color: rgb(192, 192, 192);
}

.sidebar-section-name { 
  margin: 5px;
  margin-top: 15px;
  padding: 10px;
}

.sidebar-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid gray;
  width: 90%;
}

.last-left-div {
  margin-bottom: 60px;
}

.add-field-button, .remove-field-button {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}

.education-cluster, .linkedin-cluster {
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
}

.education-index {
  padding-left: 10px;  
}

.slider {
  margin: 10px;
}

.recruiting-tool-title {
  margin: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.font-test {
  font-family: 'AvenirLTStd-book';
  font-size: 30px;
}

.font-comparison-1 {
  font-size: 30px;
  font-family: 'AvenirLTStd-medium';
  font-weight: 900;
}

.font-comparison-2 {
  font-size: 30px;
  font-family: 'AvenirLTStd-roman';

}

.font-comparison-3 {
  font-size: 30px;
  font-family: 'AvenirLTStd-black';

}

.font-comparison-4 {
  font-size: 30px;
  font-family: 'AvenirLTStd-light';
}