.left-sidebar {
  width: 250px;
  height: 100vh;
  flex-direction: column;
  position: absolute;
  left: 0%;
  overflow: scroll;
  box-shadow: 2px 0px 5px grey;
  background-color: rgb(233, 253, 255);
}

.left-sidebar > input{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 200px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray; 
  box-shadow: 1px 0px 1px grey;
}

.left-sidebar > input::placeholder, textarea::placeholder {
  color: rgb(192, 192, 192);
}

.left-sidebar > textarea {
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  border: 2px solid gray;
  box-shadow: 1px 0px 1px grey;
}

.left-sidebar > input:hover {
  border: 1px solid green; 
  box-shadow: 2px 1px 1px grey;
}

.sidebar-header {
  position: relative;
  border-bottom: 1px solid grey;
  margin: 10px;
  text-align: center;
  font-size: 18px;
}

.sidebar-section-name{ 
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid gray;
}