.main {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

.root {
  width: 100vw;
  height: 100vh;
  overflow: inherit;
}

.loading-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 229, 229);
}

.edit-section::-webkit-scrollbar {
  display: none;
}

.left-sidebar::-webkit-scrollbar {
  display: none;
}