.nav {
  position: absolute;
  z-index: 2;
  justify-self: center;
  bottom: 0%;
  left: 40%;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  width: 200px;
}