.recent-searches-div {
  display: flex;
  flex-direction: column;
  overflow-wrap: normal;
  margin: 0px;
  width: 180px;
  text-overflow: wrap;
  font-family: 'AvenirLTStd-light';
  white-space: pre-line;
}

.recent-searches-div.outer {
  margin-left: 10px;
}

.title, .recent-searches-header {
  font-family: 'AvenirLTStd-medium';
  font-size: 13px;
}

.recent-searches-header {
  margin-bottom: 5px;
}

.recent-searches {
  padding: 4px;
  padding-top: 0px;
  padding-left: 0px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  text-overflow: clip;
  white-space: pre-line;
}