.recent-searches-div {
  display: flex;
  flex-direction: column;
  width: 42%;
  overflow-wrap: normal;
}

.title, .recent-searches-header {
  font-family: 'AvenirLTStd-medium';
  font-size: 13px;
}

.recent-searches {
  padding: 4px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  text-overflow: clip;
}