.recent-searches-div {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 200px;
  overflow-wrap: normal;
}

.recent-searches-header {
  font-weight: 900;
  font-size: 12px;

}

.recent-searches {
  padding: 4px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}