.recruiting-toolkit-div {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.arc-container {
  margin: 5px;
  margin-left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}

.recruiting-toolkit-sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 140px
}

.arc-image {
  position: relative;
  width: 28px;
  height: 28px;
  margin: 4px;
  bottom: 46px;
  border-radius: 100%;
}

.toolkit-image {
  width: 40px;
  height: 40px;
  
}