.recruiting-toolkit-div {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.arc-container {
  margin: 5px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}

.recruiting-toolkit-sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px
}

.arc-image {
  position: relative;
  width: 28px;
  height: 28px;
  margin: 4px;
  bottom: 46px;
  border-radius: 100%;
}

.toolkit-image {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  border-radius: 100%;
  border: 1px solid black;
}

.toolkit-node {
  width: 80%;
  margin-top: 5px;
  margin-left: -10px;
  padding-left: -10px ;
  margin-bottom: 5px;
}
.toolkit-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
}