.resume {
  margin: 5px;
  border: 1px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  height: 894px;
  width: 633px;
  box-shadow: 3px 3px 5px grey;
}

.resume-header{
  display: flex;
  margin: 5px;
  padding: 20px;
  justify-content: space-evenly;
}

.recruiting-experience-div {
  width: 200px;
}

.recruiting-experience-div > h1 {
  font-weight: 300;
}

.years {
  height: 40px;
  font-size: 40px;
  position: relative;
  bottom: 0px;
}

.years-inner {
  height: 20px;
  padding-top: 20px;
  font-size: 20px;
  position: relative;
  bottom: 0px;
  vertical-align: 0px;
}

.header-years {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  color: rgb(20, 178, 75);
}

.resume-last-row {
  display: flex;
  flex-direction: row;
}

.image-placeholder-inner {
  background-color: white;
  height: 38px;
  width: 38px;
  border-radius: 100%;
}

.image-placeholder-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.image-placeholder-inner-2 {
  background-color: white;
  height: 34px;
  width: 34px;
  border-radius: 100%;
}

.image-placeholder-outer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin: 5px;
}

.hobbies-and-interests {
  display: flex;
  flex-direction: row;
}